html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 20px;
    padding-bottom: 30px;
    /* Margin bottom by footer height */
    margin-bottom: 50px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 50px;
    background: linear-gradient(to top, #FFF 0px, #F8F8F8 100%) repeat-x;
    box-shadow: 0px -1px 0px rgba(255, 255, 255, 0.15) inset, 0px -1px 5px rgba(0, 0, 0, 0.075);
    border-top: 1px solid #E7E7E7;
    /*background-color: #f5f5f5;*/
}

.footer .container .text-muted {
    margin: 15px 0;
}

.panel-body .page-header {
    margin-top: 0px;
}
